#footer {
    width: 100%;
    background: #131313;
    .inner {
        padding: 50px 0;
        width: 1180px;
        margin: auto;
        position: relative;
        box-sizing: border-box;
        p {
            font-size: 14px;
            color: #fff;
            &:nth-child(4) {
                margin-top: 15px;
            }
        }
        .top {
            position: absolute;
            right: -50px;
            top: -70px;
        }
    }
}
